/* app css stylesheet */

body {
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
  height: 100vh;
  padding-top: 70px !important;
}

.hidden-overflow {
  overflow: hidden;
}

@media (max-width: 600px) {
  .container{
      font-size: 10px;
  }
  .hidden-overflow {
    overflow: scroll;
  }
}

.header {
  margin: 0;
  padding: 1%;
  border-color: none;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #eee;
}

.header li a,
.header ul a {
  font-weight: 700;
  color: #333 !important;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header li a:hover {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.sidebar {
  border-right: 1px solid #eee;
}

.sidebar h3 {
  margin: 0;
  padding: 15% 0 7% 15%;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
}

.check-out {
  padding: 3%;
  border: 2px solid #A70000;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #A70000;
  letter-spacing: 1px;
}

.check-out:hover {
  cursor: pointer;
  border-color: #DC8C29;
  color: #DC8C29;
}

.checkout-summary {
  margin-bottom: 3%;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.checkout-info {
  padding-left: 2.5%;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.cart {
  margin: 0;
  padding: 5% 0 0 15%;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
}

.empty-cart {
  letter-spacing: 1px;
  margin: 0;
  padding: 0 0 9% 15%;
  font-size: 13px;
  color: #C3C3C3;
}

.cart>div {
  padding-bottom: 30%;
}

.img-cart {
  width: 15%;
  float: left;
}

.text-cart {
  margin-left: 20%;
}

.container-cart {
  position: relative;
  width: 75%;
  float: left;
}

.quantity-cart {
  float: right;
  width: 25%;
}

.delete-cart {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 7%;
  height: auto;
  float: left;
  margin-right: 18px;
}

.delete-cart:hover {
  cursor: pointer;
}

.category-body {
  padding: 0% 0 0 15%;
  font-weight: 400;
}

.category-body ul {
  padding-top: 8%;
}

.category-body li {
  padding: 10% 0;
}

.category-body li a {
  font-size: 13px;
  padding: 3%;
  color: black;
  text-decoration: none;
}

.category-body a:hover {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.aligncenter {
  text-align: center;
}

ul.products {
  padding: 0;
  list-style-type: none;
}

ul.products h4 {
  font-size: 20px;
  color: rgb(114, 114, 114);
  font-weight: 600;
}

ul.products p {
  font-size: 17px;
  color: rgb(169, 0, 69);
}

ul.products a:hover {
  cursor: pointer;
  text-decoration: none;
}

.adminDropdown {
  left: auto !important;
}

.grid-selector {
  padding: 3% 3% 5% 3%;
}

.grid-selector a:hover {
  cursor: pointer;
}

.alert-area {
  width: 300px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9998!important;
}

.user-dropdown:hover {
  cursor: pointer;
}

.user-dropdown a,
.user-dropdown a:hover,
.user-dropdown a:focus {
  background: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.add-to-cart {
  padding: 20px 0;
  font-size: 15px;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.add-to-cart:hover {
  cursor: pointer;
  border-color: #887B7B;
  color: #887B7B;
}

#myCarousel {
  height: 100%;
}

#myCarousel img {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner>div {
  height: 100%;
}

.orders-small {
  font-style: italic;
}

.orders-big {
  font-weight: 800;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
  margin-bottom: 0;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.thumb {
  width: 50px;
  height: 50px;
  float: none;
  position: relative;
  top: 7px;
}

#product-details div {
  padding-bottom: 5%;
}

#map {
  height: 80%;
  width: 100%;
  margin: auto;
}

#toggle-buttons {
  margin-top: 10px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
