<!doctype html>
<html lang="en" ng-app="OnlineSales" ng-controller="AppCtrl as appController">

<head>
  <title>OnlineSales2015</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" />
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" media="screen" />
  <link rel="stylesheet" href="app/css/app.css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <!-- Customized styles -->
</head>

<body class="{{ appController.bodyClasses }}">
  <!-- MAIN VIEW -->
  <div ui-view="" style="height:100%"></div>
  <!--   Finally load libraries -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="app/js/directives.js"></script>
  <script src="app/js/filters.js"></script>
  <script src="app/js/services.js"></script>
  <script src="app/js/model.js"></script>
  <script src="app/js/app.js"></script>
</body>

</html>
