<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <i style="float:left;
    margin-left: 15px;" class="fa fa-shopping-bag navbar-toggle visible-xs" ng-hide="!isInShop()" id="menu-toggle"><span style="color: red;font-weight: 700;" ng-show="hasCart"> !</span></i>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <div class="row">
        <ul class="nav navbar-nav navbar-left">
          <li><a ui-sref="home">Home</a></li>
          <li><a ng-click="goShop()">SHOP</a></li>
          <li><a ui-sref="contact">CONTACT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-hide="isLoggedIn()" ng-controller="AuthModalCtrl">
          <li><a ng-click="openLoginModal()">Login</a></li>
          <li><a ng-click="openRegisterModal()">Sign up</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right user-dropdown" ng-show="isLoggedIn()" ng-controller="UserManagementCtrl">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Hello {{session.name}}
            <span ng-if="isAdmin()">(ADMIN)</span> <span class="caret"></span>
      </a>
            <ul class="dropdown-menu">
              <li ng-if="isAdmin()">
                <a ng-click="manageShop()">Manage shop</a>
              </li>
              <li ng-repeat="option in userOptions">
                <a ng-click="option.action()">{{option.name}}</a>
              </li>
            </ul>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div>
  <uib-alert class="alert-area" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="1500">{{alert.msg}}</uib-alert>
</div>
<!-- CONTENT -->
<div ui-view="" style="height:100%"></div>
