
<div class="modal-body">
  <button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-2x fa-times-circle-o" style="margin:10px;color:blue;"></i>
  </button>
  <h3 class="aligncenter" style="font-weight:900; padding-bottom: 3%;">Checkout</h3>
  <p class="checkout-info">There are currently <strong>{{totalQuantity}}</strong> items in cart. Total price is <span style="font-weight:900; color: red;">{{totalPrice}}$</span>.</p>
  <div class="col-xs-12 checkout-summary">
    <div ng-repeat="product in cartList track by $index" ng-mouseenter="onHover=true" ng-mouseleave="onHover=false">
      <div class="container-cart" style="padding-bottom:5%; width:90%;">
        <div class="img-cart"><img ng-src="images/{{product.CategoryId}}/{{product.Picture}}"></div>
        <div class="text-cart">
          <div>{{product.ProductName}}</div>
          <strong>{{product.UnitPrice}}$</strong>
        </div>
        <div class="quantity-cart" style="width:auto;">
          x{{product.Quantity}}
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <form name="form" role="form" ng-submit="proceed()">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="recipient_name">Recipient name</label>
            <input type="text" name="recipient_name" id="recipient_name" class="form-control" tabindex="1" ng-model="recipientName" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="recipient_email">Recipient email</label>
            <input type="email" name="recipient_email" id="recipient_email" class="form-control" tabindex="2" ng-model="recipientEmail" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="recipient_address">Recipient address</label>
            <input type="text" name="recipient_address" id="recipient_address" class="form-control" tabindex="3" ng-model="recipientAddress" required>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <label for="recipient_phone">Recipient phone number</label>
            <input type="text" name="recipient_phone" id="recipient_phone" class="form-control" tabindex="4" ng-model="recipientPhone" required>
          </div>
        </div>
        <div class="form-actions" style="padding-top:3%; text-align:center">
          <button type="submit" ng-disabled="dataLoading" class="btn btn-success btn-lg">Proceed</button>
        </div>
      </form>
    </div>
  </div>
</div>
