<div class="container" style="height:100%; width:95%">
  <div class="row" style="height:100%">
    <div class="col-md-3 col-xs-12">
      <h3>About us</h3>
      <br>
      <i>M&H's main shop is located is <strong>Espoo</strong>. Wait no more! M&H is here to serve all shopaholics the most trendy fashion on the market right now!<br><br>Contact either minh.cao@metropolia.fi or huy.phan@metropolia for technical matters about our online shop.<br><br></i>
    </div>
    <div class="col-md-9 col-xs-12" style="height:100%">
      <div id="map"></div>
      <div id="toggle-buttons">
        <button id="marker-switch">M&H Ltd</button>
        <button id="info-switch">Show info</button>
      </div>
    </div>
  </div>
</div>
<script>
var map;
var latResult;
var image;
var isInfoOn;
var marker;
var infowindow;

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {
      lat: -34.397,
      lng: 150.644
    },
    zoom: 16
  });

  image = {
    size: new google.maps.Size(71, 71),
    origin: new google.maps.Point(0, 0),
    anchor: null,
    scaledSize: new google.maps.Size(71, 71)
  };
  var geocoder = new google.maps.Geocoder;

  geocoder.geocode({
    "address": "Vanha maantie 6, Espoo"
  }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      latResult = results[0].geometry.location;
      map.setCenter(latResult);
      marker = new google.maps.Marker({
        map: map,
        position: latResult,
        visible: false
      });
    } else {
      alert("Failed to locate Vanhanmaantie 6, Espoo");
    }
  });
}

document.getElementById("marker-switch").addEventListener("click", toggleMarker);
document.getElementById("info-switch").addEventListener("click", toggleInfo);

function toggleMarker() {
  if (marker.getVisible() === true) {
    map.setCenter(latResult);
    return;
  }

  map.setCenter(latResult);
  marker.setVisible(true);
}

function toggleInfo() {
  if (isInfoOn === true) {
    infowindow.close();
    isInfoOn = false;
    return;
  }
  infowindow = new google.maps.InfoWindow({
    content: "M&H LTD"
  });
  infowindow.open(map, marker);
  isInfoOn = true;
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLCtUiS7UpwgckAQe0F_sETcSr7oNXqls&callback=initMap">
</script>
