
<div class="modal-body">
    <button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-2x fa-times-circle-o" style="margin:10px;color:blue;"></i>
  </button>
  <h3 class="aligncenter" style="font-weight:900">LOGIN</h3>
  <form name="form" ng-submit="login()" role="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
    </div>
    <div class="form-actions" style="padding-top:5%; text-align:center">
      <button type="submit" ng-disabled="dataLoading" class="btn btn-success btn-lg">Sign in</button>
    </div>
  </form>
</div>

