<div class="container">
  <h2>Order list</h2>
  <hr>
  <div class="container" id="orderList">
    <div class="row orders-big">
      <div class="col-sm-1 col-xs-2">Order Id</div>
      <div class="col-sm-1 col-xs-2" ng-show="isAdmin()">User Name</div>
      <div class="col-sm-2 col-xs-3">Delivery Address</div>
      <div class="col-sm-5 hidden-xs">Delivery Detail</div>
      <div class="col-sm-2 col-xs-3">Delivery Date</div>
      <div class="col-sm-1 col-xs-2 text-right">Expand</div>
    </div>
    <hr>
    <div class="row" ng-repeat-start="o in orders" ng-click="showDetail(o.OrderId)">
      <div class="col-sm-1 col-xs-2">{{o.OrderId}}</div>
      <div class="col-sm-1 col-xs-2" ng-show="isAdmin()">{{o.Username}}</div>
      <div class="col-sm-2 col-xs-3">{{o.DeliveryAddress}}</div>
      <div class="col-sm-5 hidden-xs">{{o.DeliveryDetail}}</div>
      <div class="col-sm-2 col-xs-3">{{o.DeliveryDate}}</div>
      <div class="col-sm-1 col-xs-2 text-right"><a href=""><i ng-hide="active==o.OrderId" class="fa fa-plus fa-3x"></i><i ng-show="active==o.OrderId" class="fa fa-minus fa-3x"></i></a><button type="button" class="btn btn-danger fa fa-trash-o" ng-click="delete(o);" ng-show="isAdmin()"></button></div>
    </div>
    <hr>
    <div class="table-responsive" ng-repeat-end="" ng-repeat-end="" ng-show="active==o.OrderId">
      <table class="table table-striped table-borders orders-small">
        <tr>
          <th class="hidden-xs">No.</th>
          <th>Product name</th>
          <th>Quantity</th>
          <th>Cost</th>
        </tr>
        <tr ng-repeat="od in o.Detail track by $index">
          <td class="hidden-xs">{{$index+1}}</td>
          <td>{{od.ProductName}}</td>
          <td>{{od.Quantity}}</td>
          <td>{{od.Cost}}$</td>
        </tr>
      </table>
    </div>
    <hr>
  </div>
</div>
