<div class="modal-body">
  <button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-2x fa-times-circle-o" style="margin:10px;color:blue;"></i>
  </button>
  <h3 class="aligncenter" style="font-weight:900;margin-bottom:20px">{{selectedProduct.ProductName}}</h3>
  <div class="container-fluid">
    <div class="row">
      <div id="productSlide" class="carousel slide col-md-6 col-xs-12" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#productSlide" ng-repeat="slide in productSlides track by $index" data-slide-to="{{$index}}" ng-class="{'active': {{$index}}===0}"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-class="{'active':{{$index}}===0}" ng-repeat="slide in productSlides track by $index">
            <img ng-src="images/{{selectedProduct.CategoryId}}/{{slide}}" alt="">
            <div class="carousel-caption">
              <p>{{slide}}</p>
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="/#productSlide" role="button" data-slide="prev" ng-non-bindable class="left carousel-control">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="/#productSlide" role="button" data-slide="next" ng-non-bindable class="right carousel-control">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xs-12" id="product-details">
        <div><strong>Category: </strong>{{selectedProduct.CategoryName}}</div>
        <div><strong>Manufacturing year: </strong>{{selectedProduct.ManuYear}}</div>
        <div><strong>Description: </strong><i>{{selectedProduct.Description}}</i></div>
        <div><strong>Unit price: </strong><span>{{selectedProduct.UnitPrice}}$</span></div>
        <div class="add-to-cart" ng-click="addToCart(selectedProduct)">
          <i class="fa fa-shopping-bag" style="padding-right:4%"></i>Add to cart
        </div>
      </div>
    </div>
  </div>
</div>
