<div class="container">
  <h2>Shop management</h2>
  <hr>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <span class="input-icon" style="float:left;">
        <input style="width:auto; display:inline-block" placeholder="Filter product list ..." class="form-control" style="color:black" ng-model="filterProduct" >
        <i class="search-icon fa fa-search nav-search-icon"></i>
      </span>
    </div>
    <div class="col-xs-6 col-md-6">
      <button style="float:right;" type="button" class="btn btn-default btn-lg fa fa-plus" ng-click="open(product);">Add New Product</button>
    </div>
  </div>
  <div class="table-responsive" style="margin-top: 2%;">
    <div class="panel panel-default">
      <div class="panel-body" style="border: 1px solid #ccc;">
        <table class="table table-striped">
          <tr ng-show="products.length==0">
            <td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td>
          </tr>
          <tr ng-hide="products.length>-1">
            <td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td>
          </tr>
          <tr>
            <th ng-repeat="c in columns" style="width:15%">{{c}}</th>
          </tr>
          <tr ng-repeat="c in products | filter:filterProduct | orderBy:'-id'" id="{{c.ProductId}}">
            <td>{{c.ProductId}}</td>
            <td>{{c.ProductName}}</td>
            <td>{{c.CategoryName}}</td>
            <td>{{c.UnitPrice}}</td>
            <td>{{c.Description}}</td>
            <td>{{c.ManuYear}}</td>
            <td>
              <img width="70%" height="5%" ng-src="images/{{c.CategoryId}}/{{c.Picture}}">
            </td>
            <td style="width:100px">
              <div class="btn-group">
                <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
                <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="delete(c);"></button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
