<button type="button" class="close" ng-click="cancel();">
  <i class="fa fa-2x fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
  <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <form name="product_form" class="form-horizontal" role="form">
    <div>
      <label> Product Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter product name" ng-model="product.ProductName" />
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="isNewCategory" ng-value="false">
        <strong>Existed category</strong>
      </label>
      <div>
        <select class="form-control" ng-disabled="isNewCategory" ng-model="oldCategory" ng-options="cat.CategoryName as cat.CategoryName for cat in existedCategories">
        </select>
      </div>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="isNewCategory" ng-value="true">
        <strong>New category</strong>
      </label>
      <input type="text" ng-disabled="!isNewCategory" class="form-control" placeholder="Enter category name" ng-model="newCategory" />
    </div>
    <div>
      <label> Unit Price</label>
      <input type="text" name="price" class="form-control" placeholder="Enter price" ng-model="product.UnitPrice" />
    </div>
    <div>
      <label> Description </label>
      <textarea class="form-control" name="description" placeholder="Enter description" ng-model="product.Description">{{product.Description}}</textarea>
    </div>
    <div>
      <label> Year </label>
      <input type="text" name="year" class="form-control" placeholder="Enter manufacture year" ng-model="product.ManuYear" />
    </div>
    <div>
      <label> Picture </label>
      <div>
        <i>Choose multiple pictures. First one is the cover image.</i>
      </div>
      <input type="file" name="file" ng-model="picFile" ngf-select multiple accept="image/*" ngf-max-height="1000" ngf-max-size="2MB" ngf-model-invalid="errorFiles" />
      <div ng-repeat="file in picFile">
        <img ng-show="file.$valid" ngf-thumbnail="file" class="thumb"> {{file.name}}
      </div>
      <button style="margin-top:15px" ng-click="picFile = null" ng-show="picFile">Remove all</button>
      <br>
    </div>
    <div class="space"></div>
    <div class="space-4"></div>
    <div class="modal-footer">
      <div label="">
        <div class="text-right">
          <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
          <button ng-click="saveProduct(product);" class="btn btn-sm btn-primary" type="submit">
            <i class="ace-icon fa fa-check"></i>{{buttonText}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
