
<div class="modal-body">
    <button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-2x fa-times-circle-o" style="margin:10px;color:blue;"></i>
  </button>
  <h3 class="aligncenter" style="font-weight:900; padding-bottom:5%">SIGN UP</h3>
  <form name="form" ng-submit="register()" role="form">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="first_name">First name</label>
          <input type="text" name="first_name" id="first_name" class="form-control" tabindex="1" ng-model="firstName" required>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="last_name">Last name</label>
          <input type="text" name="last_name" id="last_name" class="form-control" tabindex="2" ng-model="lastName" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone_number">Phone number</label>
      <input type="text" name="phone_number" id="phone_number" class="form-control" tabindex="3" ng-model="phoneNumber" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="form-control" tabindex="4" ng-model="email" required>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="username">Username</label>
          <input name="username" id="username" class="form-control" tabindex="5" ng-model="username" required>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" tabindex="6" ng-model="password" required>
        </div>
      </div>
    </div>
    <div class="form-actions" style="padding-top:5%; text-align:center">
      <button type="submit" ng-disabled="vm.dataLoading" class="btn btn-success btn-lg">Register</button>
    </div>
  </form>
</div>
