<!-- PRODUCT VIEW -->
<div>
  <div ng-hide="products.length<=0">
    <div class="grid-selector">
      <dir-pagination-controls></dir-pagination-controls>
      <a style="padding-left:10px" ng-show="isInCategory" ng-click="goBack()"><i class="fa fa-reply"></i>Go back</a>
    </div>
    <ul class="products">
      <div class="container-fluid">
        <div class="row">
          <li class="col-lg-4 col-md-6 col-xs-12" dir-paginate="product in products | itemsPerPage: 6">
            <a ng-click="openProductDetails(product.ProductId, product.Picture)">
              <img ng-src="images/{{product.CategoryId}}/{{product.Picture}}">
            </a>
            <div class="aligncenter">
              <h4>{{product.ProductName}}</h4>
              <p>{{product.UnitPrice}}$</p>
            </div>
          </li>
        </div>
      </div>
    </ul>
  </div>
  <div ng-show="products.length<=0" class="grid-selector">
    <span>No results found.</span>
    <a style="padding-left:10px" ng-show="isInCategory" ng-click="goBack()"><i class="fa fa-reply"></i>Go back</a>
  </div>
</div>
<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>
