<!-- SIDEBAR VIEW -->
<div class="container-fluid">
  <div class="row">
    <div id="wrapper">
      <div id="sidebar-wrapper" class="sidebar col-md-2">
        <h3 ng-hide="cartList.length>0">Cart<i class="fa fa-shopping-cart fa-2x"></i></h3>
        <h3 ng-show="cartList.length>0">
    <span class="check-out" ng-click="openCheckoutModal()">
    Checkout
    </span>
  </h3>
        <div class="empty-cart" ng-show="cartList.length==0">
          <i>No items in cart.</i>
        </div>
        <div class="cart" ng-show="cartList.length>0">
          <div ng-repeat="product in cartList track by $index">
            <div class="container-cart">
              <div class="img-cart"><img ng-src="images/{{product.CategoryId}}/{{product.Picture}}"></div>
              <div class="text-cart">
                <div>{{product.ProductName}}</div>
                <strong>{{product.UnitPrice}}$</strong>
              </div>
              <div class="delete-cart" ng-click="spliceCart(product.ProductId)">
                <img ng-src="images/delete.png">
              </div>
            </div>
            <div class="quantity-cart">
              x
              <input type="number" style="width: 70%;border: 0;" ng-change="changeQuantity()" ng-model="product.Quantity" min="1">
            </div>
          </div>
        </div>
        <h3 style="padding:0 0 0 15%">Categories</h3>
        <div class="category-body">
          <ul>
            <li ng-repeat="category in categories" ng-click="getListByCat(category.CategoryId)"><a>{{category.CategoryName}}</a></li>
          </ul>
        </div>
      </div>
      <div ui-view class="col-md-10" id="page-content-wrapper"></div>
    </div>
  </div>
</div>
